/******************************TAG SELECTOR**************************************************/
body {
  background-color: #fff3b2;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-top-width: 5px;
  border-color: black;
  background-color: #fff3b2;
  width: 30%
}
img{
  height: 200px
}
h1{
  color: #111d5e
}
h2{
  color: #111d5e
}
h3{
  color: #111d5e
}

/******************************CLASS SELECTOR**************************************************/
.round{
  border-radius: 200px
}
/********************************ID SELECTOR**************************************************/
